.workoutCardsContainer {
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.noWorkouts {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  background-color: #44ba9f;
  color: white;
  padding: 12px 30px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .workoutCardsContainer {
    margin: 50px 5%;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .workoutCardsContainer {
    margin: 50px 5%;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 650px) and (max-width: 850px) {
  .workoutCardsContainer {
    margin: 50px 5%;
    flex-direction: row;
  }
  .workoutCardsContainer div:nth-child(2n) {
    margin-right: 0;
  }
}
