.container {
  height: 80px;
  width: 100%;
  background-color: #44ba9f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 15vw;
}
.logo h1 {
  font-size: 1.125rem;
  color: white;
  font-weight: 500;
  margin-left: 15px;
}
.links {
  margin-right: 20vw;
  display: flex;
}
.links a {
  color: white;
  margin-left: 30px;
}
@media (min-width: 1200px) {
}
